<div class="row">
  <div class="col-auto">
    <h2>{{name}}'s Dashboard</h2>
  </div>
</div>

<div>
  <div>
    <main>
    <h5>{{quote}}</h5>
    <h6>by {{author}}</h6>
    </main>

      {{#if goals.length}}
      <article>
        <h3>Active Goals:</h3>
        {{#each goals as |goals|}}
        <div>
          <div>
            <h4><a href="/goals">{{goals.title}}</a></h4>
          </div>
        </div>
        {{/each}}
      </article>
      {{/if}}

      {{#if timeCapsules.length}}
      <article>
        <h3>Time Capsules:</h3>
        {{#each timeCapsules as |timeCapsules|}}
        <div>
          <div>
            <h4><a href="/timecapsule">{{timeCapsules.title}}</a></h4>
          </div>
        </div>
        {{/each}}
      </article>
      {{/if}}
  </div>

  <script src="./js/profile.js"></script>