<div class="row">
  <div class="col-auto">
    <h2>{{name}}'s Dashboard</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">

    <h5>{{quote}}</h5>
    <h6>by {{author}}</h>

  {{#if goals.length}}
  <div class="col-md-6 project-list">
    <h3>Active Goals:</h3>
    {{#each goals as |goals|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/goals/{{goals.id}}">{{goals.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

 {{#if timeCapsules.length}}
  <div class="col-md-6 project-list">
    <h3>Locked Time Capsules:</h3>
    {{#each timeCapsules as |timeCapsules|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/timecapsule/{{timeCapsules.id}}">{{timeCapsules.title}}</a></h4>
        <h4>{{timeCapsules.description}}</h4>
        <h4>{{timeCapsules.end_date}}</h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
