<div class="row">
  <div class="col-auto">
  <h1>Time Capsule</h1>
  </div>
</div>
{{#if timeCapsules}}
  <ul>
    {{#each timeCapsules}}
      <li>
        <h2>{{this.title}}</h2>
        <p>Created: {{format_date this.date_created}}</p>
        <p>End Date: {{format_date this.end_date}}</p>
        <p id="timecapsule-content"></p>
        <form action="/timecapsule/{{this.id}}" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="delete-btn" type="submit">Delete</button>
        </form>

        {{#if (hasExpired this.end_date)}}
          <button class="active-btn" id="countdown-btn" data-unlock-content="{{this.description}}">Thinking...</button>
        {{else}}
          <button class="active-btn" id="countdown-btn" data-end-date="{{this.end_date}}" disabled>Thinking...</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
...

  <p>No Capsule found.</p>
{{/if}}


  <!-- create a new Time Capsule form -->
<div class="row">
    <div class="col">
        <h2>Create a new Time Capsule</h2>
<!-- Use newBlogPostHandler from dashboard.js -->
  <form class="form new-timecapsule-form">
    <div class="form-group">
        <label for="timecapsule-title">Time Capsule Name</label>
        <input class="form-input" id="timecapsule-title" name="timecapsule-title" type="text" />
    </div>
    <div class="form-group">
        <label for="timecapsule-content">What Would you Like to Say to Your Future Self? </label>
        <textarea class="form-input" id="timecapsule-content" name="timecapsule-content" rows="3" ></textarea>
    </div>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" required>
    <br>
    <div class="form-group">
    <button type="submit" class="btn btn-primary new-timecapsule-form"> Create New</button>
    </div>
  </form>
  </div>
</div>

  <script src="./js/timecapsule.js"></script>


