<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Capsule</title>
  <!--link rel="stylesheet" href="../public/css/timecapsule.css"-->
</head>
<body>
  <h1>Time Capsule</h1>

  {{!-- {{#if timeCapsules}}
    <ul>
      {{#each timeCapsules}}
        <li>
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <p>Created: {{this.date_created}}</p>
          <p>End Date: {{this.end_date}}</p>
          <form action="/goals/{{this.id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger delete-timecapsule" type="button" data-id="{{this.id}}">Delete</button>
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No Capsule found.</p>
  {{/if}} --}}

  <!-- create a new Time Capsule form -->
<div class="row">
    <div class="col">
        <h2>Create a new Time Capsule</h2>
<!-- Use newBlogPostHandler from dashboard.js -->
  <form class="form new-timecapsule-form">
    <div class="form-group">
        <label for="timecapsule-title">Time Capsule Name</label>
        <input class="form-input" id="timecapsule-title" name="timecapsule-title" type="text" />
    </div>
    <div class="form-group">
        <label for="timecapsule-content">What Would you Like to Say to Your Future Self? </label>
        <textarea class="form-input" id="timecapsule-content" name="timecapsule-content" rows="3" ></textarea>
    </div>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" required>
    <br>
    <div class="form-group">
    <button type="submit" class="btn btn-primary new-timecapsule-form"> Create New</button>
    </div>
  </form>
  </div>
</div>

  <script src="./js/timecapsule.js"></script>
</body>
</html>
