<div class="row">
  <div class="col-auto">
  <h1>Time Capsule</h1>
  </div>
</div>

  <!-- display all Time Capsules -->
  {{#if timeCapsules.length}}
<!-- show all of the user's blog posts with option to update or delete -->
<div class="row">
    <div class="col">
        <h2>Your Time Capsules</h2>
    </div>
</div>
{{#each timeCapsules as |timeCapsules|}}
<div class="row">
    <div class="col">
        <h3><a href="/timecapsule/{{timeCapsules.id}}">{{timeCapsules.title}}</a></h3>
        <p>{{timeCapsules.description}}</p>
        <p>{{timeCapsules.end_date}}</p>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger delete-timecapsule" data-id="{{timeCapsules.id}}">Delete</button>
    </div>
{{/each}}
</div>
{{/if}}
</div>

  <!-- create a new Time Capsule form -->
<div class="row">
    <div class="col">
        <h2>Create a new Time Capsule</h2>
<!-- Use newBlogPostHandler from dashboard.js -->
  <form class="form new-timecapsule-form">
    <div class="form-group">
        <label for="timecapsule-title">Time Capsule Name</label>
        <input class="form-input" id="timecapsule-title" name="timecapsule-title" type="text" />
    </div>
    <div class="form-group">
        <label for="timecapsule-content">What Would you Like to Say to Your Future Self? </label>
        <textarea class="form-input" id="timecapsule-content" name="timecapsule-content" rows="3" ></textarea>
    </div>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" required>
    <br>
    <div class="form-group">
    <button type="submit" class="btn btn-primary new-timecapsule-form"> Create New</button>
    </div>
  </form>
  </div>
</div>

  <script src="./js/timecapsule.js"></script>


