<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Capsule</title>
  <link rel="stylesheet" href="../public/css/timecapsule.css">
</head>
<body>
  <h1>Time Capsule</h1>

  {{#if timecapsule}}
    <ul>
      {{#each timecapsule}}
        <li>
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <p>Created: {{this.date_created}}</p>
          <p>End Date: {{this.end_date}}</p>
          <form action="/goals/{{this.id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete-btn" type="submit">Delete</button>
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No Capsule found.</p>
  {{/if}}

  <form id="create-timecapsule-form" action="/goals" method="POST">
    <label for="title">TimeCapsule Name:</label>
    <input type="text" name="title" id="title" placeholder="Enter a title" required>
    <br>
    <label for="description">What would you like to say to your future self?:</label>
    <input type="text" name="description" id="description" placeholder="Enter a description" required>
    <br>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" required>
    <br>
    <button id="create-timecapsule-btn" type="submit">Create TimeCapsule</button>
  </form>

  <script src="/js/timecapsule.js"></script>
</body>
</html>
